include README.rst
include LICENSE
recursive-include jet/locale *
recursive-include jet/static *
recursive-include jet/templates *
recursive-include jet/jet_dashboard/locale *
recursive-include jet/jet_dashboard/static *
recursive-include jet/jet_dashboard/templates *
